.img {
  width: 60%;
  transition: 180ms width ease-in;

  /* @media (min-width: 400) {
    width: 40%;
  } */
}

.cards {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
}

.capital{
    font-size: 20px;
}